textarea {
    width: 17%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #FFFFFF;
    resize: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.buttonList a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.buttonList a:hover {
  background-color: #555;
  color: white;
}

.centered {
  text-align: center;
  align-items: center
}
